<div class="container">
<h1 class="title"><%= @task.title %></h1>
<p class="description"><%= @task.description %></p>


<%= link_to "Edit", edit_path, class: :btn%>
<%= link_to "Back to list", index_path, class: :btn %>
</div>
